on:
  repository_dispatch:
    types:
      - deploy-ui
jobs:
  deploy-ui:
    strategy:
      matrix:
        platform:
          - ios
          - android
          - web
    runs-on: ${{ matrix.platform == 'ios' && 'macos-latest' || 'ubuntu-latest' }}
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        if: ${{ matrix.platform == 'ios' }}
        with:
          xcode-version: latest-stable
      - run: xcodebuild -downloadPlatform iOS
        if: ${{ matrix.platform == 'ios' }}
      - uses: actions/checkout@v5
        with:
          repository: cjiis/sabaq
          token: ${{ secrets.GH_PAT }}
          ref: ${{ github.event.client_payload.ref }}
      - uses: ./.github/actions/setup-node
      - uses: ./.github/actions/scripts
        env:
          action: deploy-ui
          platform: ${{ matrix.platform }}
          expoToken: ${{ (matrix.platform == 'ios' || matrix.platform == 'android') && secrets.EXPO_TOKEN }}
          firebaseToken: ${{ matrix.platform == 'web' && secrets.FIREBASE_TOKEN }}
          environment: ${{ github.event.client_payload.environment }}
